.layout {
  display: grid;
  min-height: calc(100dvh - var(--header-height));
  padding-bottom: var(--header-height);
  background-color: var(--primary-green);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.layoutAuth {
  grid-template-rows: auto 1fr;
}

.content {
  display: flex;
  overflow: auto;
  min-height: 100%;
}
