.list {
    padding: 0 12px;
}

.listItem {
    cursor: pointer;
}

.title {
    margin-left: 24px;
    font-size: 14px;
    line-height: 22px;
    color: var(--character-title-85);
}

.header {
    display: flex;
    justify-content: flex-end;

}

.headerTitle {
    width: 60px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
}

.headerTitleFirst {
    text-align: start;
}

.listContent {
    display: flex;

}

.badgeWrapper {
    width: 60px;
    display: flex;
    justify-content: center;
}

.badge {
    width: 31px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
}

.author {
    width: 60px;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.footer {
    display: flex;
    justify-content: flex-end;
}

:global {
    .ant-badge-count {
        color: var(--character-title-45) !important;
    }

    .ant-list-header {
        padding: 0 !important;
        border-block-end: none !important;
    }
}