.profileModalActions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileModalButton {
    margin-bottom: 8px;
}

.profileAvatar {
    position: absolute;
    top: -54px;
    left: calc(50% - 54px);
    background-color: var(--gray-color);
}

.profilePageForm {
    padding: 0 87px;
}
