.mainContainer {
  padding: 5rem 0;
}

.mainContainerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainerTitle {
  margin: 54px 0 16px;
}

.mainContainerImage {
  position: absolute;
  bottom: 100%;
  transform: translateY(50%);
}
