.mainContainer {
  position: relative;
  box-sizing: border-box;
  padding: 20px 24px;
  border: 0;
  border-radius: 8px;
  margin: calc(var(--header-height) * 2) auto auto;
  background-clip: padding-box;
  background-color: #fff;
  box-shadow:
    0 6px 16px 0 rgb(0 0 0 / 8%),
    0 3px 6px -4px rgb(0 0 0 / 12%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
  pointer-events: auto;
}

.mainContainerHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 54px;
  padding-bottom: 24px;
}

.mainContainerImage {
  position: absolute;
  bottom: 100%;
  transform: translateY(50%);
}

.noMargin {
  margin: 0 !important;
}
