.registrationPageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 8px;
}

.registrationPageItem {
  width: 100%;
}

.registrationPageButton {
  margin-bottom: 0;
}
