.registrationPageLogo {
  position: absolute;
  top: -54px;
}

.registrationPageTitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin: 54px 0 16px;
}

.registrationPageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 8px;
}

.registrationPageItem {
  width: 100%;
}

.registrationPageButton {
  margin-bottom: 0;
}

.modalLayout {
  .ant-modal-header {
    font-size: 24px;
  }
}
